<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Supermodular 2</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="getting-started">
    
    
    CHUCHAAAAAAAAAAAAAAAAAAAAAAAAa

</ion-content>
